.indexRoot {

  .editorPopup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(17, 17, 17, .33);
  }

  .container {
    margin: 3rem 20%;
    background: white;
    overflow: hidden;
    border-radius: 5px;
    z-index: 50;
  }
}
