.navBar {
  justify-content: space-between;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  height: 4rem;
  background: white;
  border-bottom: 1px solid #f5f5f5;
  box-shadow: 0 1px 2px 0 #e2e2e2;
  padding: 0.4rem 20%;
  z-index: 50;

  .left {
    display: flex;
    align-items: center;

    img {
      height: 3.5rem;
      width: 3.5rem;
      object-fit: contain;
      border-radius: 1000px;
      pointer-events: none;
    }

    p {
      user-select: none;
      font-family: 'Itim', cursive;
    }

    .name {
      margin-left: 1rem;
      font-size: 32px;
      color: #4e4e4e;
      transition: all 0.7s ease;

      &:hover {
        color: black;
      }
    }

    .smallText {
      user-select: none;
      transform: translateY(40%);
    }
  }

  .right {
    display: flex;
    align-items: center;
    transition: all .3s ease;
    filter: opacity(0.6);

    &:hover {
      filter: opacity(1);
    }

    img {
      height: 2.5rem;
      width: 2.5rem;
      object-fit: contain;
    }
  }
}
